article p {
    background-color: blue;
    color: white;
    padding: 20px;
}

article > p{
    background: red;
}

article ~ p{
    background: purple;
    color: white;
    padding:20px;
}

article + p{
    background: orange;
}

h3:first-child{
    background-color: green;
    color: white;
    padding: 20px;
}
/* input{
    margin-left: 10px;
}
input:in-range{
    border: solid 2px  green;
}
input:out-of-range{
    border: solid 2px red;
}
input:focus{
background-color: yellow;
} */
.span{
    margin-top:30px;
}
span:first-of-type{
    background-color: black;
    color: white;
    padding: 10px;
    
}

input:invalid{
border: solid 2px red;
}
input:valid{
    border: solid 2px green;
}
.pp::first-letter{
    color: blue;
    font-size: 40px;
}
.pp::first-line{
    color: green;
    font-size: 40px;
}

h2::before{
    content: url(images.png);
    background-size: contain;
}
h2::after{
    content: url(done.png);
}
::selection{
    color: white;
    background-color: grey;
}

div{
    opacity: 0.5;
}